@use "./styles/theme";
@use "bootstrap/scss/bootstrap";

*,
*::before,
*::after { box-sizing: border-box; }

html,
body {
  min-height: 100%;
  background: #f5f8fc;
  color: #152235;
}

body {
  margin: 0;
}

app-root {
  display: block;
  min-height: 100vh;
  background: #f5f8fc;
}